* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f8f9fa;
    color: #343a40;
}

a {
    text-decoration: none;
    color: inherit;
}

