* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 930px;
  background-color: #f0f2f5;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.logod {
  margin-bottom: 16px;
}

.logo {
  width: 120px;
}
