* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 930px;
  background-color: #f0f2f5;
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.logod {
  margin-bottom: 16px;
}

.logo {
  width: 120px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 8px;
}

p {
  color: #666;
  margin-bottom: 16px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"], .button {
  width: 100%;
  padding: 13px;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #39B0F4;
}

button[type="submit"]:hover {
  background-color: #659fc0;
}

.button{
  display: block;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #659fc0;
}

.role-options {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
