* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            color: #1e293b;
            background: #ffffff;
        }

       
        header {
            background: white;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            border-bottom: 1px solid rgba(37, 99, 235, 0.1);
        }

        .firstone {
            background: rgb(106, 106, 207);
            padding: 10px 0;
            font-size: 13px;
            color: white;
        }

        .firstone .container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact {
            display: flex;
            gap: 30px;
            align-items: center;
        }

        .contact span {
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 500;
        }

        .social-links {
            display: flex;
            gap: 15px;
        }

        .social-links a {
            color: white;
           }
        
        nav {
            max-width: 1700px;
            margin: 0 auto;
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            font-size: 30px;
            font-weight: 800;
            display: flex;
            align-items: center;
            gap: 12px;
            color: #8b6aaf;
            
            
        }

        .logo-icon {
            display: flex;
            align-items: center;
            justify-content: center; 
        }

       

        .nav-links {
            display: flex;
            list-style: none;
            gap: 5px;
            align-items: center;
        }

        .nav-links a {
            color: #0f172a;
            text-decoration: none;
            font-weight: 600;
            padding: 10px 13px;
        }

        .nav-links a:hover {
            color: #2563eb;
        }

        .logb {
            background: rgb(83, 83, 163);
            color: white !important;
            padding: 12px 28px !important;
            border-radius: 30px;
            font-weight: 700;
        }

        .logb::after {
            display: none;

        }


.bgim {
            margin-top: 120px;
            background-image: url('Evercare\ main.jpeg');
            background-size: cover;
            padding: 275px 40px;
        }
